body {
  font-family: "roboto";
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.toggle {
  z-index: 99999999;
  position: absolute !important;
  margin: 0 !important;
  padding: 20px !important;
  top: 0 !important;
  left: 5px !important;
  height: 20px !important;
  margin-top: 2px !important;
  margin-bottom: 30px !important;
  width: 10px !important;
  background-color: #ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p .container {
  width: 90%;
  margin: 0 auto;
}
